In [1]:
import pandas as pd
df=pd.read_csv("D:\\User_Data\\Downloads\\55y_employee_by_county_indus.csv")

In [6]:
df

Index(['表036_8.制造业各中分类按企业单位统计之从业员工人数(页269-288)', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')

In [43]:
#df["表036_8.制造业各中分类按企业单位统计之从业员工人数(页269-288)"][8+23*2:8+23*2+22]
df["表036_8.制造业各中分类按企业单位统计之从业员工人数(页269-288)"][30]

'21 饮料制造业'

In [11]:
value1=df["Unnamed: 1"][8:8+22]
newdf=pd.DataFrame(value1)#columns=[df["表036_8.制造业各中分类按企业单位统计之从业员工人数(页269-288)"][8-1]])
indus=df["表036_8.制造业各中分类按企业单位统计之从业员工人数(页269-288)"][8-1]
newdf[indus]=value1
k=1
while (8+23*k+22)<=len(df):
    value=df["Unnamed: 1"][(8+23*k):(8+23*k+22)]
    newvalue=[]
    for i in value:
        newvalue.append(i)
    indus=df["表036_8.制造业各中分类按企业单位统计之从业员工人数(页269-288)"][8+23*k-1]
    newdf[indus]=newvalue
    #newdf=pd.concat([newdf,subdf],axis=1)
    k=k+1

In [79]:
newdf["test"]=value1

In [53]:
df["Unnamed: 1"][8:30]

8      5660
9      3195
10     4779
11     7460
12     3497
13     9460
14    10600
15     2965
16     3464
17     3578
18     4566
19     4000
20     3024
21     1300
22     1159
23      277
24    42012
25      900
26     2535
27     5574
28     2976
29      329
Name: Unnamed: 1, dtype: object

In [15]:
newdf.to_csv("50y_manufacturing.csv",encoding="")

UnicodeEncodeError: 'big5' codec can't encode character '\u4e1a' in position 19: illegal multibyte sequence

In [14]:
import os
os.getcwd()

'D:\\User_Data\\Documents\\GitHub\\Neural_Network'

In [16]:
newdf

,Unnamed: 1,20 食品制造业,21 饮料制造业,22 烟草制造业,23 纺织业,24 服饰品制造业,25 木竹藤柳制品制造业,26 家具及装设品制造业,27 纸及纸制品制造业,28 印刷制版及装订业,...,30 橡胶制品制造业,31 化学工业,32 石油炼制及煤制品制造业,33 非金属矿产物制品制造业,34 金属基本工业,35 金属制品制造业,36 机械制造修配业,37 电气机械器材制造修配业,38 运输工具制造修配业,39 其他制造业
8,5660,5660,25,NaN,12954,1230,1139,333,1332,1468,...,787,9436,414,5625,1339,3486,5096,6682,3483,4031
9,3195,3195,80,NaN,42,69,1314,35,319,184,...,86,162,6,1060,NaN,165,358,6,234,443
10,4779,4779,280,NaN,3853,45,460,727,369,126,...,474,1169,21,1875,352,396,517,96,612,425
11,7460,7460,3,NaN,1305,203,1038,459,142,275,...,110,1070,35,3792,90,447,806,2776,327,152
12,3497,3497,32,NaN,999,268,781,56,850,160,...,NaN,558,66,2376,21,160,316,532,62,327
13,9460,9460,23,NaN,8333,335,3522,151,1861,529,...,1956,2525,6,1293,664,540,2336,453,460,596
14,10600,10600,370,NaN,7157,338,1086,185,1088,358,...,906,1659,15,1910,229,3187,1691,203,606,792
15,2965,2965,90,NaN,37,62,482,112,428,153,...,NaN,206,NaN,914,NaN,99,85,19,70,34
16,3464,3464,147,NaN,359,807,246,19,205,214,...,3,342,NaN,1314,22,133,208,37,130,28
17,3578,3578,101,NaN,303,365,1484,123,776,422,...,138,711,92,1339,665,487,925,89,395,260
18,4566,4566,106,NaN,2148,205,292,44,560,240,...,283,792,32,4188,5,661,527,37,194,188
19,4000,4000,94,NaN,540,6,470,33,1083,212,...,41,381,23,2643,138,537,272,6,107,28
20,3024,3024,57,NaN,346,60,781,39,31,256,...,40,255,8,803,NaN,275,331,4,335,91
21,1300,1300,24,NaN,54,10,435,2,NaN,93,...,NaN,39,NaN,370,NaN,12,20,NaN,10,68
22,1159,1159,82,NaN,33,17,576,28,NaN,164,...,NaN,10,NaN,507,NaN,45,220,1,64,NaN
23,277,277,13,NaN,29,5,28,NaN,NaN,41,...,NaN,5,NaN,100,NaN,11,13,16,176,28
24,42012,42012,1052,11456,54902,5114,11292,967,6910,5137,...,3063,25363,10220,11773,2844,6575,6047,16799,5160,3280
25,900,900,15,NaN,61,384,138,NaN,42,276,...,3,241,63,8,74,154,957,648,4283,21
26,2535,2535,71,NaN,1594,807,1386,468,681,1243,...,1162,1940,NaN,645,250,1251,3420,905,1331,447
27,5574,5574,239,NaN,5448,2263,287,199,112,848,...,284,3854,3,360,521,2300,1744,1760,1620,900
28,2976,2976,80,NaN,1751,843,4733,154,572,554,...,123,9500,96,2577,10062,1381,4360,1070,3816,354
29,329,329,17,NaN,520,28,43,365,78,20,...,678,380,19,724,66,328,615,384,83,115